{% extends "base.html" %}
{% block content %}
<div class="main-container">
    <h1 class="page-title">Search Regulated Weeds</h1>
        <p class="lead mb-4">Enter a weed name to find where it's regulated</p>
        
        <select id="weedSearch" class="form-control">
            <option></option>
        </select>
    </div>

    <div id="results" class="results-container d-none">
        <h3 id="weedTitle"></h3>
        <p id="weedCategory" class="text-muted mb-4"></p>
        
        <h4>Regulated in:</h4>
        <div id="statesList" class="list-group">
            <!-- States will be inserted here -->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/species_search.js') }}"></script>
{% endblock %}